html, body {margin: 0; padding: 0;}
body{
    font-family: "Times New Roman";
    background-color: #ffe6b3;
    overflow-x: hidden;
}
.header{
    display: flex;
    width: 100vw;
    padding-top: 5px;
}
.header img{
    width: 98vw;
}
.navbar {
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: black;
}
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.checkbox-nav{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100vw;
    background-color: black;
    align-items: center;
    justify-content: space-around;
}
.comp-checkbox{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 30vw;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}
.content{
    display: flex;
    flex-direction: column;
    width: 97vw;
    justify-content: center;
    margin: auto;
}
.manuscript{
    display: flex;
    width: 96vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.svg-page{
    display: flex;
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
}
svg.edition-svg text{
    stroke: black;
    stroke-width: 1;
    text-anchor: middle;
}
svg.edition-svg rect, svg.edition-svg line{
    stroke: black;
    stroke-width: 2;
}
.svg-page a{
    text-decoration: none;
    color: white;
}
.ab-checkbox{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.ab-legend{
    display: flex;
    flex-direction: row;
    color: black;
}
#ab-legend-C{background-color: #ff3ad4; color: black;}
#ab-legend-D{background-color: #ff3f3a; color: black;}
#ab-legend-I{background-color: #ffac3a; color: black;}
#ab-legend-J{background-color: #ffe83a; color: black;}
#ab-legend-O{background-color: #3aff47; color: black;}
#ab-legend-R{background-color: #48acff; color: black;}
#ab-legend-S{background-color: #6636ff; color: black;}
#ab-legend-W{background-color: #a848ff; color: black;}
.ab-svg{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}
.ab-table{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30vw;
    height: 100%;
}
.ab-graph{
    display: flex;
    width: 70vw;
    flex-direction: column;
    display: none;
    align-items: center;
    justify-content: center;
}
#stemma-svg{
    overflow: auto;
}
.stemma-svg{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}
.t1269{
    display:none;
}
.t1269.on{
    font-size: 20px;
}
.t1283{
    display:none;
}
.t1287{
    display:none;
}
.t1509{
    display:none;
}
.t1534{
    display:none;
}
.t1536{
    display:none;
}
.t1538{
    display:none;
}
.t1539{
    display:none;
}
.t1541{
    display:none;
}
.t1543{
    display:none;
}
.t1561{
    display:none;
}
.t1680{
    display:none;
}
.t1719{
    display:none;
}
.t1739{
    display:none;
}
.t1739.on {
    font-size: 20px;
}

.license{
    display: flex;
    width: 60vw;
    height: 5vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.license a{
    text-decoration: none;
    color: black;
}
.comparison{
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30vw;
}
#variance-checkbox{
    color: red;
    justify-content: center;
    align-items: center;
    display: flex;
}
.variances{
    color: red;
}
.variance.on{
    color: red;
}
h1 {
    color: black;
    text-align: center;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 50px; 
}
h2 {
    color: black;
    text-align: center;
}
h3 {
    color: black;
    text-align: center;
    font-size: 30px;
}
div.index {
    padding-left: 20px;
    padding-right: 20px;
}
div.notes {
    line-height: 90%;
}
p {
    font-size: 20px;
}
p.index {
    font-size: 20px;
    text-align: center;
}
p.msdesc {
    text-align: left;
    font-size: 20px;
}
p.notes {
    font-size: 15px;
    line-height: 90%;
}
img.github {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: auto;
    padding-right: 20px;
    
}
ul.timeline {
    list-style-type: none;
    text-align: center;
    font-size: 20px;
}